{% extends "base.html" %}

{% block title %}Login — SnapMeet{% endblock %}

{% block content %}

<div class="auth-wrapper">

    <!-- 3D floating circles -->
    <div class="shape shape1"></div>
    <div class="shape shape2"></div>
    <div class="shape shape3"></div>

    <div class="auth-card-modern">
        <h1>Welcome back 👋</h1>
        <p class="sub">Login to continue</p>

        <form method="POST">

            <div class="input-group-modern">
                <input type="email" name="email" required>
                <label>Email</label>
            </div>

            <div class="input-group-modern">
                <input type="password" name="password" required>
                <label>Password</label>
            </div>

            <button class="auth-btn" type="submit">Login</button>

        </form>

        <p class="bottom-text">
            Don't have an account? 
            <a href="{{ url_for('register') }}">Register</a>
        </p>
    </div>
</div>

{% endblock %}
